*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: kredit;
    src: url('kredit.back-regular.ttf');
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: transparent;
    perspective: 1000px;
    height: 220px;
    width: 350px;
}

.chips{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 15px;
}

.waves{
    background-image: url(./waves.png);
    background-size: cover;
    height: 30px;
    width: 8%;
}

.chip{
    background-image: url(./chip.png);
    background-size: cover;
    height: 50px;
    width: 22%;
    margin-top: -14px;
    margin-bottom: -5px;
}

.container-inner{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

[class*="card"]{
    position: absolute;
    backface-visibility: hidden;
    height: 220px;
    width: 350px;
    background-color: #fcb531;
    border-radius: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container:hover .container-inner {
    transform: rotateY(180deg);
}

.info{
    font-family: kredit;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75%;
    font-size: 18px;
    color:#8c753b;
}

.header{
    height: 50px;
    width: 100%;
    background-color: #1b3545;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

.logo{
    background-image: url(./maib.png);
    background-size: cover;
    height: 40px;
    width: 40%;
    padding-top: 10px;
}

.first{
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 2px;
}

.second{
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xd{
    margin-left: 30px;
}

.date{
    margin-left: 5px;
    font-size: 18px;
}

.visa{
    margin-top: 10px;
    background-image: url(./visa.png);
    background-size: cover;
    height: 28px;
    width: 28%;
}

.third{
    display: flex;
    justify-content: space-between;
}

.blackbar{
    margin-top: 15px;
    height: 50px;
    background-color: black;
}

.card-back{
    transform: rotateY(180deg);
}

.card-back .info{
    font-family: 'Poppins', sans-serif;
    color: #1b3545;
    justify-content: flex-start;
    font-size: 10px;
    font-weight: bold;
}

.cont{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.cvv{
    height: 20px;
    background-color: white;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    font-size: 14px;
}

.cont p{
    padding-top: 10px;
}

.info > p{
    margin-top: 5px;
}

.contact{
    margin-top: 20px;
    position: relative;
    left: 40%;
}