*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    transform: rotate(20deg);
}


[class*="part"]{
    background-color: #299fff;
    height: 300px;
    width: 150px;
    display: inline-block;
}

.part1{
    z-index: 3;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    animation: down ease-in-out 4.5s 0.5s;
}

.part2{
    z-index: 1;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    animation: up ease-in-out 4.5s 0.5s;
    overflow: hidden;
    margin-left: -5px;
}

.bro{
    height: 195px;
    width: 35px;
    background-color: #1b629c;
    transform: rotate(10deg);
    margin-top: -5px;
    margin-left: -100px;
    animation: bro ease-in-out 4.5s 0.5s;
}

@keyframes bro {
    30%{
        margin-left: -100px;
    }

    40%{
        margin-left: -20px;
    }

    90%{
        margin-left: -20px;
    }

    100%{
        margin-left: -100px;
    }
}

.circle2{
    height: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #299fff;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    visibility: hidden;
    animation: big 7s 5.5s;
    overflow: hidden;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20vh;
    position: absolute;
    color: #299fff;
}

.icon1, .icon2{
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    font-size: 20vh;
    padding: 20px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: appear ease-in-out 5.5s 5.6s forwards;
    transform-origin: left;
    transform: rotate(-15deg);
}

@keyframes appear {

    1%{
        visibility: visible;
    }

    5%{
        transform: rotate(0deg);
    }

    94%{
        background-color: white;
    }

    95%{
        background-color: #299fff;
        visibility: hidden;
    }

    100%{
        visibility: hidden;
        transform: rotate(0deg);
    }
    
}

.icon1{
    margin-right: 150px;
}

@keyframes down {
    30%{
        transform: translateY(0px);
    }

    40%{
        transform: translateY(-60px);
    }

    90%{
        transform: translateY(-60px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes up {
    30%{
        transform: translateY(0px);
    }

    40%{
        transform: translateY(60px);
    }

    90%{
        transform: translateY(60px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes big {
    1%{
        visibility: visible;
    }

    10%{
        transform: scale(10);
    }

    80%{
        transform: scale(10);
    }

    89%{
        transform: scale(1);
    }

    90%{
        visibility: hidden;
    }
}


